
/* CSS validation overrides */
:required {}

:optional {}

:valid {}

:invalid {}

:default {}

:in-range {}

:out-of-range {}

form {
    
}


form {
    fieldset {
        @include block-left;
        width: 96%;
    }
    label,
    input,
    textarea{
        @include em-font(14);
    }

    label{
        float: left;
        line-height: 1.8em;
        width:40%;
        @include reset-box;
        @include em-font(18);
        @include em-line-height(18);
        @include custom-font;
    }

    legend {
        margin: 0 0 10px 0;
        font-weight: 400;
        float: left;
        width: 96%;
        padding: 10px 2% 10px 2%;
        color: white;
    }

    input{
        width:59%;
        padding:0;
        margin:0 0 15px 0;
    }


    input[type='search'] {
        width:100%;
        -moz-appearance:none;
        -webkit-appearance:none;
        -webkit-box-sizing: content-box;
        -moz-box-sizing: content-box; 
        box-sizing:content-box;
        border:none;
        @include border-radius(15px);
        @include box-shadow(#222, 1px, 1px, 5px, false, inset); 
    }

    input[type='submit']{
        border:none;
        overflow:visible;
        font-weight:400;
        padding:10px;
        margin:10px 0 0 0;
        background-color: #00b6ff;
        color:white;

        &:hover{
            background-color: lighten(#00b6ff, 10%);
        }
    }

    input[type='text'],
    textarea{
        @include border-radius(5px);
        @include box-shadow(#333 2px 2px 6px inset);
        padding:7px 10px;
        color:#999;
        border:none;
    }

    input[type='checkbox']{
        width:15px;
        margin-top:10px;
    }
}

/* New input types */
progress,
meter {
    width: 100%;
    margin: 0 0 4% 0;
    @include block-left;
}

textarea{
    width:100%;
    height:50px;
}

select{
    width:150px;
    margin:10px 0 18px 0;
}
