
@import "_settings";
@import "_mixins";

@mixin mobile-land-styles(){
    
    
}

@mixin tablet-styles(){
    
   

}

@mixin desktop-styles(){
    
    
    // re-create grid
    .row{
        .col{

            @each $section in $gridGlobal{
                $name: nth($section, 1);
                $number: nth($section, 2);

                &.#{$name}{
                    @for $i from 1 through $number{
                        &.span-#{$i}{
                            @include span-columns($total-columns * ($i/$number));

                            &.end{
                                @include omega;
                            }
                        }
                    }
                }
            }
        }
    }

    // desktop forms
    form label{
        width:40%;
        @include reset-box;
    }

    form input,
    form select{
        width:59%;
        padding:0;
        margin:0 0 15px 0;
    }

}

@mixin desktop-styles-large(){
    #site-wrapper{
        margin:120px 0 0 240px;
    }

    .tools{
        left:0px;
    }

    #header{
        display:block;
    }
}