/* Responsive styles 

Changed to Desktop first else we would not be able to have a modular system!

*/
@import "_settings";
@import "_mixins";


/* LESS THAN DESKTOP LARGE */
@media only screen and (max-width: $dekstopLarge){
    #site-wrapper{
        margin:0;
    }

    .tools{
        left:-230px;
    }

    #header{
        display:none;
    }
}



/* LESS THAN DESKTOP */
@media only screen and (max-width: $desktop){

    form{

        label{
            width:100%;
            padding: 0 0 2% 0;
        }

        input,
        select{
            width: 92%;
            padding:4%;
            margin: 0 0 2% 0;
        }

    }

}


/* LESS THAN TABLET */
@media only screen and (max-width: $tablet){

    
}

/* LESS THAN MOBILE LANDSCAPE */
@media only screen and (max-width: $mobile){

 // re create grid for small screen
    .row{
        .col{

            @each $section in $gridGlobal{
                $name: nth($section, 1);
                $number: nth($section, 2);

                &.#{$name}{
                    @for $i from 1 through $number{
                        &.span-#{$i}{
                            @include span-columns($total-columns);
                            
                            &.end{
                                @include omega;
                            }
                        }
                    }
                }
            }
        }
    }
    
}
