@import "_settings";
@import "_mixins";


/* ================ MAIN LAYOUT ELEMENTS ================ */

body{
    overflow-x:hidden;
}

#site-wrapper{
    height:100%;
    min-height: 100%;
    height: auto;
    margin-bottom:-$footer-height+px;
    position:relative;
    overflow:hidden;
}

*{
    @include border-box('/assets/js/vendor/border-box.htc');
}

.row {
    @include container;
    
    .row{
        margin-left:-$grid-padding;
        margin-right:-$grid-padding;
        
    } // Nudge back nested rows
    
    .col {
        @include span-columns($total-columns);
        
        &.end{
            @include omega;
        }
        
        @each $section in $gridGlobal{
            $name: nth($section, 1);
            $number: nth($section, 2);

            &.#{$name}{
                @for $i from 1 through $number{
                    &.span-#{$i}{
                        @include span-columns($total-columns);
                        
                        &.end{
                            @include omega;
                        }
                    }
                }
            }
        }
    }
}

.main{
    background-color:$color5;
    min-height:500px;
    padding-top:40px;
    padding-bottom:40px;
}
.tools-link{
    @include em-font(20);
    color:$color1;
    font-weight:700;
    text-decoration:none;
    position:absolute;
    left:-31px;
    padding:5px;
    background-color:white;
    border:2px solid $color1;
    display:block;
    top:20px;
    @include border-radius(3px); 
    z-index:2;
}


#tools{
    position:absolute;
    width:200px;
    right:-200px;
    top:0;
    height:100%;
    background-color:$color2;
    z-index:1;
    padding:15px;
    @include transition-property(all);
    @include transition-duration(0.3s);
    @include transition-timing-function(ease-in);
}

#tools.active{
    right:0px;
}

#tools ul{
    list-style-type:none;
    @include reset-box;
}

#tools ul a{
    color:$color4;
    text-decoration:none;
    outline:none;
    font-weight:700;
    display:block;
}

#tools ul a:hover{
    color:white;
}

#tools code{
    display:none;
}

/* NEW GRID BOXES ADDED TO THE STAGE */

.grid-box{
    border:1px solid black;
    min-height:100px;
    @include block-left;
    position:relative;
    background-color:white;
    padding:10px;
   
}

.grid-box.end{
   border:1px solid red; 
}

.grid-box.end a.end-toggle{
    @include rotate(180deg);
}

.grid-box:hover a.dragger,
.grid-box:hover a.end-toggle{
    display:block;
    text-decoration:none;
    outline:none;
}
    

.grid-box a.dragger{
    display:none;
    width:90%;
    height:20px;
    color:black;
    cursor:move;
    background-color:$color1;
}

.grid-box a.end-toggle{
    position:absolute;
    right:10px;
    top:21px;
    color:#555;
    font-weight:700;
    @include em-font(26);
    @include icon-font;
    text-decoration:none;
    z-index:1;
    display:none;
} 

.grid-box a.end-toggle:after{
    @include shape(20px, 20px);
    @include border-radius(10px);
    background-color:$color3;
    @include bg-gradient($color5, $color2);
    top:-12px;
    left:-6px;
    z-index:-1;
    border:1px solid $color1;
}

.placeholder{
    outline: 1px dashed #4183C4;
    margin:10px;
    @include block-left;
    padding:20px 0px;
}
