@import "_settings";
@import "_mixins";


/* ================ MAIN LAYOUT ELEMENTS ================ */
body,html{
    height:100%;
}


body{
    overflow-x:hidden;
}

#site-wrapper{
    height:100%;
    min-height: 100%;
    height: auto;
    margin-bottom:-$footer-height+px;
    position:relative;
    overflow:hidden;
    margin:0;
}

*{
    @include border-box('/assets/js/vendor/border-box.htc');
}

.row {
    @include container;
    
    .row{
        margin-left:-$grid-padding;
        margin-right:-$grid-padding;
        
    } // Nudge back nested rows
    
    .col {
        @include span-columns($total-columns);
        
        &.end{
            @include omega;
        }
        
        @each $section in $gridGlobal{
            $name: nth($section, 1);
            $number: nth($section, 2);

            &.#{$name}{
                @for $i from 1 through $number{
                    &.span-#{$i}{
                        @include span-columns($total-columns);
                        
                        &.end{
                            @include omega;
                        }
                    }
                }
            }
        }
    }
}

.main{
    background-color:$color5;
}


// TOOLS FOR THE BUILDER

.tools{
    position:fixed;
    width:230px;
    left:-230px;
    top:0;
    height:100%;
    background-color:$color5;
    z-index:9998;
    padding:15px;
    margin:100px 0 -100px 0;
}

.tools ul{
    list-style-type:none;
    @include reset-box;
}

.tools ul a{
    color:$color4;
    text-decoration:none;
    outline:none;
    font-weight:700;
    display:block;
}

.tools ul a:hover{
    color:white;
}

.tools code{
    display:none;
}

/* NEW GRID BOXES ADDED TO THE STAGE */

.grid-box{
    min-height:100px;
    @include block-left;
    position:relative;
    padding:10px;
    background-color:white;
    border:1px solid black;
}


.grid-box.grid-active{
    border:3px solid blue;
}

.grid-box.end{
    border:1px solid red; 
}

.grid-box.grid-active.end{
    border:3px solid red; 
}

.grid-box.end a.end-toggle{
    @include rotate(180deg);
    right: 63px;
    top: 14px;
}

.grid-box:hover a.control{
    display:block;
}

    
.grid-box a.control{
    position:absolute;
    top:16px;
    color:#555;
    font-weight:700;
    @include em-font(26);
    @include icon-font;
    text-decoration:none;
    z-index:997;
    display:none;
    outline:none;
    text-decoration:none;
}

.grid-box a.control:hover{
    outline:none;
    text-decoration:none;
}
    

.grid-box a.control:after{
    @include shape(20px, 20px);
    @include border-radius(10px);
    background-color:$color3;
    @include bg-gradient($color5, $color2);
    top:-12px;
    left:-6px;
    z-index:-1;
    border:1px solid $color1;
}

// when the page is locked
.main.lock .grid-box{
    padding:0px;
    background:none;
    border:none;
}

.main.lock .grid-box:hover a.control{
    display:none;
}

.grid-box a.end-toggle{
    right:60px;
} 

.grid-box a.settings{
    left:33px;
}

.grid-box a.settings:after{
    left:-4px;
}

.grid-box a.remove{
    right:37px;
}

.grid-box a.remove:after{
    left:-7px;
}

.grid-box a.dragger{
    left:10px;
}
    

.placeholder{
    outline: 1px dashed #4183C4;
    margin:10px;
    @include block-left;
    padding:20px 0px;
}

/* MODULE BOXES */
.module-box{
    clear:left;
}

/* POPUP STYES ELEMENTS */

.overlay{
    position:fixed;
    height:100%;
    width:100%;
    display:none;
    z-index:9999;
    background:url('../img/bg-overlay.png') 0 0 repeat;
    top:0;
}

.popup{
    @include box;
    display:none;   
    position:fixed;
    left:50%;
    top:25%;
    width:315px;
    margin:0 0 0 -162px;
    padding:30px;
    z-index:99999;   
}

.popup h2{
    line-height:1.0em;
    width:100%;
}

.popup ul{
    list-style-type: none;
    @include reset-box;
}

.popup ul li{
    @include block-left;
    margin:0 20px 0 0;
}

.popup ul li a{
    text-decoration: none;
}

.popup a.close-button{
    position:absolute;
    top:0px;
    right:0px;
    outline: none;
    text-decoration: none;
    height:20px;
    width:20px;
}

// form for posting download data
#data-form{
    display:none;
}

/* Debugging text area */
.text-label-proto-builder{
    text-align: center;
    width:100%;
    @include em-font(16);
    @include em-line-height(16);
}