
article.news{

    padding:20px;
    height:100%;
    width:100%;
    background-color:white;
    @include box-shadow(#d6dee0 0px 0px 9px);
    @include block-left;
    position:relative;
    z-index:1;
    margin:0 0 20px 0;

    .article-left{

        @include block-left;
        width:75%;

        h3{
            @include em-font(18);
            @include em-line-height(18);
            font-weight: 700;
            margin:0;
            color:$color2;
            width:100%;
        }

        time{
            position:absolute;
            right:0;
            top:0;
            z-index:10;
            background-color:$color2;
            padding:0 15px 0 15px;
            text-transform:uppercase;
            color:white;
            @include em-font(22);
            @include em-line-height(22);
            @include custom-font;
            font-weight:700;
        }

        p{
            margin:0 0 20px 0;
            @include block-left;
            color:$color1;
            @include em-font(14);
            @include em-line-height(14);
        }


        ul.tags{
            list-style-type:none;
            margin:0 0 10px 0;
            padding:0;
            width:100%;
            @include block-left;
        
            li{
                @include reset-box;
                @include block-left;
                color:$color4;
                @include em-font(13);
                @include em-line-height(13);
                margin:0 5px 0 0;
                font-weight:700;

                a{
                    @include block-left;
                    color:$color4;
                }

                a:hover{
                    text-decoration:underline;
                }
            }
        }

    }

    .article-right{

        width:25%;
        display:block;
        float:right;

        figure{
            @include reset-box;
            margin:0 0 10px 0;
            @include block-left;
            width:100%;

            img{
                @include reset-box;
                z-index:-1;
                position:relative;
                float:right;
                width:100%;
                height:auto;
            }
        }
    }
    

}


/* LESS THAN DESKTOP */
@media only screen and (max-width: $desktop){

    article.news{
        .article-left{
            width:65%;
        }
        .article-right{
            width:35%;
        }
    }

}

/* LESS THAN TABLET */
@media only screen and (max-width: $tablet){

    article.news{

        .article-right{

            width:100%;

        }

        .article-left{
            width:100%;
        }

    }
}