
article.news{
    padding:4%;
    height:100%;
    width:100%;
    background-color:white;
    @include box-shadow(#d6dee0 0px 0px 9px);
    @include block-left;
    position:relative;
    z-index:1;
    margin:0 0 20px 0;

    h2{
        @include em-font(18);
        @include em-line-height(18);
        font-weight: 700;
        margin:0;
        color:$color2;
        width:85%;
    }

    p{
        margin:0 0 20px 0;
        @include block-left;
        color:$color1;
        @include em-font(14);
        @include em-line-height(14);
    }


    ul.tags{
        list-style-type:none;
        margin:0 0 10px 0;
        padding:0;
        width:100%;
        @include block-left;
    
        li{
            @include reset-box;
            @include block-left;
            color:$color4;
            @include em-font(13);
            @include em-line-height(13);
            margin:0 5px 0 0;
            font-weight:700;

            a{
                @include block-left;
                color:$color4;
            }

            a:hover{
                text-decoration:underline;
            }
        }
    }

    time{
        position:absolute;
        right:0;
        top:0;
        z-index:10;
        background-color:$color2;
        padding:0 15px 0 15px;
        text-transform:uppercase;
        color:white;
        @include em-font(22);
        @include em-line-height(22);
        @include custom-font;
        font-weight:700;
    }

    figure{
        @include reset-box;
        @include box-shadow(inset $color4 2px 2px 10px -1px);
        display:block;
        float:left;
        margin:0 0 10px 0;
        position:absolute;
        right:0;
        top:0;
        width:auto;


        img{
            @include reset-box;
            z-index:-1;
            position:relative;
            float:right;
            width:auto;
            height:auto;
        }
    }

    .article-left-wrapper{
        @include block-left;
        width:65%;
        
    }

    .grid-9 .article-left-wrapper h2{
        width:100%;
    }
}


/* LESS THAN DESKTOP */
@media only screen and (max-width: $desktop){

    article.news .article-left-wrapper{
        width:45%;
    }

}

/* LESS THAN TABLET */
@media only screen and (max-width: $tablet){

    article.news{


        figure{
            position:relative;
            width:100%;

            img{
                width:100%;
            }
        }

        .article-left-wrapper{
            width:100%;
        }

    }
}