
article.news{
    padding:4%;
    height:100%;
    width:100%;
    background-color:white;
    @include box-shadow(#d6dee0 0px 0px 9px);
    @include block-left;
    position:relative;
    z-index:1;
    margin:0 0 20px 0;
}

article.news h2{
    @include em-font(18);
    @include em-line-height(18);
    font-weight: 700;
    margin:0;
    color:#222;
    width:85%;
}

article.news p{
    margin:0 0 20px 0;
    @include block-left;
}


article.news p{
    color:#333;
    @include em-font(14);
    @include em-line-height(14);
}


article.news ul.tags{
    list-style-type:none;
    margin:0 0 10px 0;
    padding:0;
    width:100%;
    @include block-left;
}

article.news ul.tags li{
    @include reset-box;
    @include block-left;
    color:#888;
    @include em-font(13);
    @include em-line-height(13);
    margin:0 5px 0 0;
    font-weight:700;
}

article.news ul.tags li a{
    @include block-left;
    color:#888;
}

article.news ul.tags li a:hover{
    text-decoration:underline;
}

article.news time{
    position:absolute;
    right:0;
    top:0;
}

article.news time{
    z-index:10;
    background-color:#222;
    padding:0 15px 0 15px;
    text-transform:uppercase;
    color:white;
    @include em-font(22);
    @include em-line-height(22);
    @include custom-font;
    font-weight:700;
}

article.news figure{
    @include reset-box;
    @include box-shadow(inset #555555 2px 2px 10px -1px);
    width:100%;
    display:block;
    float:left;
    position:relative;
    margin:0 0 10px 0;
}

article.news figure img{
    @include reset-box;
    width:100%;
    z-index:-1;
    position:relative;
    float:right;
}

.news .article-left-wrapper{
    @include block-left;
    width:100%;
    
}

.news .grid-9 .article-left-wrapper h2{
    width:100%;
}

/* TABLET UP */
@media only screen and (min-width: $tablet){

    article.news figure{
        position:absolute;
        right:0;
        top:0;
        width:auto;
    }

    article.news figure img{
        width:auto;
        height:auto;
    }
    
    article.news .article-left-wrapper{
        width:45%;
    }

}

/* DESKTOP UP */
@media only screen and (min-width: $desktop){

    article.news .article-left-wrapper{
        width:65%;
    }

}