
.accordion{

    a.accordion-link{
        background-color: $color3;
        padding:10px;
        width:100%;
        @include block-left;
        margin: 0 0 1px 0;
        text-decoration:none;
        @include transition-property(background-color);
        @include transition-duration(0.3s);
        @include transition-timing-function(linear);
        color:#eee;

        h3{
            @include block-left;
            width:100%;
        }

        &:hover{
            background-color: lighten($color2, 10%);
        }
    }


    article.accordion-slide{
        @include block-left;
        padding: 10px;
        background: lighten($color4, 10%);
        width: 100%;
        position:relative;
        z-index:1;
        border-left: 1px solid $color2;

        p{
            @include block-left;
            width:100%;
        }
    }

}



/* LESS THAN TABLET */
@media only screen and (max-width: $tablet){

    .accordion .accordion-slide{
        border-left:7px solid $color2;
    }
}

/* LESS THAN MOBILE LANDSCAPE */
@media only screen and (max-width: $mobile){
    .accordion .accordion-slide{
        border-left:10px solid $color2;
    }
}
