/* Responsive styles 

Changed to Desktop first else we would not be able to have a modular system!

*/

/* LESS THAN DESKTOP LARGE */
@media only screen and (max-width: $dekstopLarge){
    #site-wrapper{
        margin:0;
    }

    .tools{
        left:-230px;
    }

    #header{
        display:none;
    }
}



/* LESS THAN DESKTOP */
@media only screen and (max-width: $desktop){

    form{

        label{
            width:100%;
            padding: 0 0 2% 0;
        }

        input,
        select{
            width: 92%;
            padding:4%;
            margin: 0 0 2% 0;
        }

    }

}


/* LESS THAN TABLET */
@media only screen and (max-width: $tablet){

    
}

/* LESS THAN MOBILE LANDSCAPE */
@media only screen and (max-width: $mobile){
    // re create grid for small screen
     .row{
         @for $i from 1 through $total-columns{
            .grid-#{$i}{
                @include span-columns($total-columns);
                margin-bottom:$grid-padding;
                            
                &.end{
                    @include omega;
                }
            }

        }

     }
    
}
