
.gallery{
    width:100%;
    margin:0 auto;
    position:relative;
    padding-bottom:51px;
    padding-top:20px;

    .responsive{
        width:834px;
    }

    .flex-viewport{
        top:0;
        left:0;
        position:relative;

        ul{
            display:block;
            float:left;

            li{
                position:relative;
                height:306px;
                width:380px;

                img.blur{
                    -webkit-filter: blur(1px); 
                    -moz-filter: blur(1px);
                    -o-filter: blur(1px); 
                    filter: url(filters.svg#blur);
                }
            }

            li.css-slide{
                width:380px !important;
                margin:52px 68px;
            }

            li.large-web{
                left:219px;
                z-index:3;
                height:410px;
                width:517px !important;
                margin:0;
            }

            li.large-web-last{
                left:-195px;
                z-index:3;
                height:410px;
                width:517px !important;
                margin:0; 
            }
        }
    }
    
    .flex-direction-nav{

        li {

            @include block-left;

            a{
                display:block;
                position:absolute;
                width:22px;
                height:22px;
                top:46%;
            }

            a.flex-prev{
                left:0%;
                z-index:5;
            }
            a.flex-prev:hover{
                background-position:0px -22px;
            }

            a.flex-next{
                background-position:-22px 0px;
                right:0%;
            }
            a.flex-next:hover{
                background-position:-22px -22px;
            }
        }
    }

    .not-so-fancy{
        width:517px;
    }

    li{
        display: none;
        -webkit-backface-visibility: hidden;

        img{
            width:100%;
            height:100%;
            display:block;
            float:left;
            position:relative;
        }
    }

    li.small-web-left,
    li.small-web-left-last,
    li.small-web-right,
    li.large-web,
    li.large-web-last{
        @include transition-duration(0.7s);
        @include transition-timing-function(linear);
    }

    li.small-web-right{
        left:-69px;
        z-index:2;
    }

    li.small-web-left{
        left:500px;
        z-index:1;
    }

    li.small-web-left-last{
        left:39px;
    }


    .flex-control-paging{
        position:absolute;
        left:50%;
        bottom:17px;
        display:block;
        float:left;
        z-index:99;
    

        li{

            a{
                display: block; 
                height: 7px; 
                cursor: pointer; 
                margin-left: 4px;
                width:7px;
            }

            a.flex-active,
            a:hover{
                //background-image: url(img/bullet_active.png);
            }
        }
    }
}


html.ie7 .gallery .flex-viewport ul{
    min-height:410px;
}

// DESKTOP DOWN
@media only screen and (max-width: $desktop){
    .gallery{

        width:$mobile;

        .flex-viewport{

            li{
                left:auto!important; 
                margin:0px !important;
            }
        }

        .flex-direction-nav{

            li{
                a.flex-prev{
                    left:-10%;
                }
                a.flex-next{
                    right:-10%;
                }
            }
        }

        img{ 
            max-width: 100%; 
            height: auto; 
        }
    }
}

// MOBILE DOWN
@media only screen and (max-width: $mobile){
    .gallery{ 

        width:100%;
        padding-top:20px;

        img{ 
            max-width: 100%; 
            height: auto; 
        }

        .flex-viewport li{
            height:220px;
        }
    
        .flex-direction-nav{

            li{
                a.flex-prev{
                    left:6%;
                    top:90%;
                }
    
                a.flex-next{
                    right:6%;
                    top:90%;
                }
            }
        }
    }
    
}
