/* ======== BROWSERS THAT DO NOT SUPPORT MEDIA QUERIES ======== */
.row .col.half.span-1 { width: 48.93617%; float: left; margin-right: 2.12766%; display: inline; }
.row .col.half.span-1.end { float: right; margin-right: 0; #margin-left: -20px; display: inline; }
.row .col.half.span-2 { width: 100%; float: left; margin-right: 2.12766%; display: inline; }
.row .col.half.span-2.end { float: right; margin-right: 0; #margin-left: -20px; display: inline; }
.row .col.halves.span-1 { width: 48.93617%; float: left; margin-right: 2.12766%; display: inline; }
.row .col.halves.span-1.end { float: right; margin-right: 0; #margin-left: -20px; display: inline; }
.row .col.halves.span-2 { width: 100%; float: left; margin-right: 2.12766%; display: inline; }
.row .col.halves.span-2.end { float: right; margin-right: 0; #margin-left: -20px; display: inline; }
.row .col.third.span-1 { width: 31.91489%; float: left; margin-right: 2.12766%; display: inline; }
.row .col.third.span-1.end { float: right; margin-right: 0; #margin-left: -20px; display: inline; }
.row .col.third.span-2 { width: 65.95745%; float: left; margin-right: 2.12766%; display: inline; }
.row .col.third.span-2.end { float: right; margin-right: 0; #margin-left: -20px; display: inline; }
.row .col.third.span-3 { width: 100%; float: left; margin-right: 2.12766%; display: inline; }
.row .col.third.span-3.end { float: right; margin-right: 0; #margin-left: -20px; display: inline; }
.row .col.thirds.span-1 { width: 31.91489%; float: left; margin-right: 2.12766%; display: inline; }
.row .col.thirds.span-1.end { float: right; margin-right: 0; #margin-left: -20px; display: inline; }
.row .col.thirds.span-2 { width: 65.95745%; float: left; margin-right: 2.12766%; display: inline; }
.row .col.thirds.span-2.end { float: right; margin-right: 0; #margin-left: -20px; display: inline; }
.row .col.thirds.span-3 { width: 100%; float: left; margin-right: 2.12766%; display: inline; }
.row .col.thirds.span-3.end { float: right; margin-right: 0; #margin-left: -20px; display: inline; }
.row .col.quarter.span-1 { width: 23.40426%; float: left; margin-right: 2.12766%; display: inline; }
.row .col.quarter.span-1.end { float: right; margin-right: 0; #margin-left: -20px; display: inline; }
.row .col.quarter.span-2 { width: 48.93617%; float: left; margin-right: 2.12766%; display: inline; }
.row .col.quarter.span-2.end { float: right; margin-right: 0; #margin-left: -20px; display: inline; }
.row .col.quarter.span-3 { width: 74.46809%; float: left; margin-right: 2.12766%; display: inline; }
.row .col.quarter.span-3.end { float: right; margin-right: 0; #margin-left: -20px; display: inline; }
.row .col.quarter.span-4 { width: 100%; float: left; margin-right: 2.12766%; display: inline; }
.row .col.quarter.span-4.end { float: right; margin-right: 0; #margin-left: -20px; display: inline; }
.row .col.quarters.span-1 { width: 23.40426%; float: left; margin-right: 2.12766%; display: inline; }
.row .col.quarters.span-1.end { float: right; margin-right: 0; #margin-left: -20px; display: inline; }
.row .col.quarters.span-2 { width: 48.93617%; float: left; margin-right: 2.12766%; display: inline; }
.row .col.quarters.span-2.end { float: right; margin-right: 0; #margin-left: -20px; display: inline; }
.row .col.quarters.span-3 { width: 74.46809%; float: left; margin-right: 2.12766%; display: inline; }
.row .col.quarters.span-3.end { float: right; margin-right: 0; #margin-left: -20px; display: inline; }
.row .col.quarters.span-4 { width: 100%; float: left; margin-right: 2.12766%; display: inline; }
.row .col.quarters.span-4.end { float: right; margin-right: 0; #margin-left: -20px; display: inline; }
.row .col.fith.span-1 { width: 19.57447%; float: left; margin-right: 2.12766%; display: inline; }
.row .col.fith.span-1.end { float: right; margin-right: 0; #margin-left: -20px; display: inline; }
.row .col.fith.span-2 { width: 39.14894%; float: left; margin-right: 2.12766%; display: inline; }
.row .col.fith.span-2.end { float: right; margin-right: 0; #margin-left: -20px; display: inline; }
.row .col.fith.span-3 { width: 60.85106%; float: left; margin-right: 2.12766%; display: inline; }
.row .col.fith.span-3.end { float: right; margin-right: 0; #margin-left: -20px; display: inline; }
.row .col.fith.span-4 { width: 80.42553%; float: left; margin-right: 2.12766%; display: inline; }
.row .col.fith.span-4.end { float: right; margin-right: 0; #margin-left: -20px; display: inline; }
.row .col.fith.span-5 { width: 100%; float: left; margin-right: 2.12766%; display: inline; }
.row .col.fith.span-5.end { float: right; margin-right: 0; #margin-left: -20px; display: inline; }
.row .col.fiths.span-1 { width: 19.57447%; float: left; margin-right: 2.12766%; display: inline; }
.row .col.fiths.span-1.end { float: right; margin-right: 0; #margin-left: -20px; display: inline; }
.row .col.fiths.span-2 { width: 39.14894%; float: left; margin-right: 2.12766%; display: inline; }
.row .col.fiths.span-2.end { float: right; margin-right: 0; #margin-left: -20px; display: inline; }
.row .col.fiths.span-3 { width: 60.85106%; float: left; margin-right: 2.12766%; display: inline; }
.row .col.fiths.span-3.end { float: right; margin-right: 0; #margin-left: -20px; display: inline; }
.row .col.fiths.span-4 { width: 80.42553%; float: left; margin-right: 2.12766%; display: inline; }
.row .col.fiths.span-4.end { float: right; margin-right: 0; #margin-left: -20px; display: inline; }
.row .col.fiths.span-5 { width: 100%; float: left; margin-right: 2.12766%; display: inline; }
.row .col.fiths.span-5.end { float: right; margin-right: 0; #margin-left: -20px; display: inline; }
.row .col.sixth.span-1 { width: 14.89362%; float: left; margin-right: 2.12766%; display: inline; }
.row .col.sixth.span-1.end { float: right; margin-right: 0; #margin-left: -20px; display: inline; }
.row .col.sixth.span-2 { width: 31.91489%; float: left; margin-right: 2.12766%; display: inline; }
.row .col.sixth.span-2.end { float: right; margin-right: 0; #margin-left: -20px; display: inline; }
.row .col.sixth.span-3 { width: 48.93617%; float: left; margin-right: 2.12766%; display: inline; }
.row .col.sixth.span-3.end { float: right; margin-right: 0; #margin-left: -20px; display: inline; }
.row .col.sixth.span-4 { width: 65.95745%; float: left; margin-right: 2.12766%; display: inline; }
.row .col.sixth.span-4.end { float: right; margin-right: 0; #margin-left: -20px; display: inline; }
.row .col.sixth.span-5 { width: 82.97872%; float: left; margin-right: 2.12766%; display: inline; }
.row .col.sixth.span-5.end { float: right; margin-right: 0; #margin-left: -20px; display: inline; }
.row .col.sixth.span-6 { width: 100%; float: left; margin-right: 2.12766%; display: inline; }
.row .col.sixth.span-6.end { float: right; margin-right: 0; #margin-left: -20px; display: inline; }
.row .col.sixths.span-1 { width: 14.89362%; float: left; margin-right: 2.12766%; display: inline; }
.row .col.sixths.span-1.end { float: right; margin-right: 0; #margin-left: -20px; display: inline; }
.row .col.sixths.span-2 { width: 31.91489%; float: left; margin-right: 2.12766%; display: inline; }
.row .col.sixths.span-2.end { float: right; margin-right: 0; #margin-left: -20px; display: inline; }
.row .col.sixths.span-3 { width: 48.93617%; float: left; margin-right: 2.12766%; display: inline; }
.row .col.sixths.span-3.end { float: right; margin-right: 0; #margin-left: -20px; display: inline; }
.row .col.sixths.span-4 { width: 65.95745%; float: left; margin-right: 2.12766%; display: inline; }
.row .col.sixths.span-4.end { float: right; margin-right: 0; #margin-left: -20px; display: inline; }
.row .col.sixths.span-5 { width: 82.97872%; float: left; margin-right: 2.12766%; display: inline; }
.row .col.sixths.span-5.end { float: right; margin-right: 0; #margin-left: -20px; display: inline; }
.row .col.sixths.span-6 { width: 100%; float: left; margin-right: 2.12766%; display: inline; }
.row .col.sixths.span-6.end { float: right; margin-right: 0; #margin-left: -20px; display: inline; }
