
// Standard mobile navigation
#nav-header{
	min-height:80px;
}

.main-nav-standard{

	ul{
		@include reset-box;
		display:none;
		width:100%;
		float:left;
		margin:60px 0 10px 0;

		li{
			@include block-left;
			margin:0;
			border:none;
			width:auto;

			a{
				text-decoration: none;
				color:$color1;
				@include em-font(16);
				@include em-line-height(16);
				width:100%;
				background-color:$color5;
				padding:20px;
				text-align: center;
				@include block-left;
			}

			a:hover{
				background-color:$color4;
			}
		}

		li.last{
			border:none;
		}
	}

	.nav-controls{
		float:left;
		display:none;
		padding:10px 0;
		width:100%;
		background-color:$color5;
		left:0;
		position:fixed;
		z-index:9999999;

		a{
			text-decoration: none;
			outline:none;
			width:40px;
			height:40px;
			background-color: $color2;
			border:1px solid black;
			@include block-left;
			text-indent: 9999px;
			margin-left:20px;
		}
	}

}

// Change the nav at various break points

/* TABLET DOWN */
@media only screen and (max-width: $tablet){

	.main-nav-standard{

		ul{
			li{
				border-bottom:1px solid white;
				width:100%;
			}
		}

		.nav-controls{
			display:block;
		}
	}
}
